body
{
    margin: 0;
}
#myvideo
{
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    max-width: 100%;
    z-index: -1;
}
div.img1
{
    height: 18px;
}
img#logo
{  
    height:18px;
    width:98px;
    padding-left: 18px;
    padding-top: 16px;
    margin: 0 auto;

}
.nav
{
    padding-left:490px 
}
.nav-right 
{   
    margin: 0 auto;
    float: right; 
    
}
.nav a,.nav-right a
{
    padding:0px 13px 0px 0px; 
    text-decoration: none;
    font-family: 'Gotham-Bold';
    font-weight: 400;
    color: white;
    line-height: 16px;
    font-size: 13px;
    transition: 0.2s;
}
.nav a:hover,.nav-right a:hover
{
    color: rgba(161, 157, 157, 0.959);
}

.heading
{
    text-align: center;
    font-family: 'Gotham-Book';
    font-size:40px;
    color: #ffffff;
    line-height: 60px;
    padding: 68px 0px 0px 0px;
}
section
{
    padding-top: 38px;
    text-align: center;
}

section button
{
  background-color: rgba(0,0,0, 0.60);
  border: 0 solid black;
  outline: none;
  margin: 0 auto;
  font-size: 13px;
  padding: 12px 35px;
  color: rgba(255,255,255, 0.3);
  text-decoration: none;
  font-family: 'Gotham-Bold';
  transition: border-color 2s ease;
  color: white;
}

.btns a
{
    text-decoration: none;
    font-family: 'Gotham-Bold';
    color: white;
}
button:hover
{
    cursor: pointer;  
    border: .4px solid  white;
}
div.section-footer,div.section-footer a
{
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
    font-family: 'Gotham-Book';
    color: white;
}

div.section-footer a:hover
{
    color: red;
}
footer
{ 
    padding-top: 280px;
    font-family: 'Gotham-Book';
    color: white;
    line-height: 20px;
    font-size: 13px;
}
footer ul
{
    text-align: center;
}
ul li
{   padding-left:60px;
    display: inline;
}
